<div class='ask-container'>
  <h2>Stupid Coaching</h2>

  <p>Ask your coach anything:</p>

  <div>
    <form action="answer" data-turbo="false">
      <div class='input-group w-50'>
        <input type="text" name="question" class="form-control" width='400px'>
        <input type="submit" value="Ask!" class="btn btn-primary">
      </div>
    </form>
  </div>
</div>
